$white: #ffffff;
$black: #000000;

$blue_var_one: #07e5eb;
$blue_var_two: #19c1ce;
$blue_var_three: #0b485b;

$gray_var_one: #212429;
$gray_var_two: #7e8a98;
$gray_var_three: #97a1ac;
$gray_var_four: #cfd3d8;
$gray_var_five: #f1f3f5;

$yellow_var_one: #f2bf4e;
$yellow_var_two: #f4ca6d;
