.footer {
  background: $blue_var_two;
  padding: 1rem 0;
  z-index: 1;
  position: relative;

  .footer-primary {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $blue_var_one;
  }

  .social {
    font-size: 1.5rem;

    ul {
      display: flex;
      gap: 1.438rem;
      align-items: center;
      justify-content: flex-end;

      li {
        a {
          color: $black;
          transition: opacity 0.2s;

          &:hover {
            opacity: 0.5 !important;
          }
        }
      }
    }
  }

  .footer-secondary {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font: 400 $body_sm $nunito;
    text-align: right;

    a {
      text-decoration: underline;
      color: $black;
      transition: opacity 0.2s;

      &:hover {
        opacity: 0.5 !important;
      }
    }
  }
  @media (max-width: 768px) {
    .footer-primary {
      display: flex;
      flex-flow: wrap;
      align-items: center;
      justify-content: center;

      border-bottom: 0;
      .logo-footer {
        padding-bottom: 1.5rem;
      }
      .social {
        padding-top: 1rem;
        border-top: 1px solid $blue_var_one;

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .footer-secondary {
      border: 0;
      align-items: center;
      justify-content: center;
    }
  }
}
